<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Financial Entries</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label for="description">Description</label>
      <input id="description" pInputText type="text"/>
    </div>

    <div class="ui-g-12">
      <label for="from-due-date" style="display: block">Due date</label>

      <input id="from-due-date" pInputText type="text"/>
      <label for="to-due-date">to</label>
      <input id="to-due-date" pInputText type="text">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="search"></button>
    </div>
  </div>
</div>
