<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>New Financial Entry</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="types" #type></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label for="dueDate">Due date</label>
        <p-calendar id="dueDate" dateFormat="dd/mm/yy" name="dueDate"
                    ngModel #dueDate="ngModel" required></p-calendar>

        <p-message *ngIf="dueDate.hasError('required') && dueDate.dirty"
                   severity="error" text="Due date is required."></p-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label for="paymentDate">{{type.value === 'INCOME' ? 'Income' : 'Expense'}} date</label>
        <p-calendar id="paymentDate" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="description">Description</label>
        <input id="description" pInputText type="text" name="description"
               ngModel #description="ngModel" required minlength="5"/>

        <p-message *ngIf="description.hasError('required') && description.dirty"
                   severity="error" text="Description is required."></p-message>
        <p-message *ngIf="description.hasError('minlength') && description.dirty" severity="error"
                   text="Description minimum length is {{description.errors.minlength.requiredLength}}.
                   Current length is {{description.errors.minlength.actualLength}}."></p-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="value">Value</label>
        <input id="value" pInputText currencyMask type="text" placeholder="{{0 | currency}}"
               ngModel #value="ngModel" name="value" required/>

        <p-message *ngIf="value.hasError('required') && value.dirty"
                   severity="error" text="Value is required."></p-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="person">Person</label>
        <p-dropdown id="person" [options]="people" placeholder="Select" required
                    [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="category">Category</label>
        <p-dropdown id="category" [options]="categories" placeholder="Select" required
                    [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label for="observation">Observation</label>
        <textarea id="observation" pInputTextarea rows="3"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Save" class="button-margin"></button>
        <button pButton type="button" label="New" class="button-margin ui-button-info"></button>
        <a href="javascript:" class="button-margin">Go back to search</a>
      </div>
    </div>
  </form>
</div>
